<template>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" v-for="book in books" :key="book.book">
            <h4>{{ book.book }}</h4>
            <div class="mt-3" v-for="chapter in book.chapters" :key="chapter.chapter">
                <h5>Chapter {{ chapter.chapter }}</h5>
                <ol>
                    <li :value="verse.verse" v-for="verse in chapter.verses" :key="verse.verse"
                        v-html="highlight_html(verse.text)">
                    </li>
                </ol>
            </div>
        </li>
    </ul>
</template>
<script lang="ts">
import Vue from 'vue'
import _ from 'lodash'

interface Result {
    book: string
    chapter: number
    verse: number
    text: string
}

type Results = Array<Result>


interface Verse {
    verse: number
    text: string
}

interface Chapter {
    chapter: number
    verses: Array<Verse>
}

type Book = {
    book: string
    chapters: Array<Chapter>
}

interface Span {
    text: string
    cls?: string
    el?: string
}

/**
 * Find all non-overlapping matches of the regex
 * 
 * @param regex regex to use
 * @param text text to test
 * 
 * @return array of matches
 */
function findAll(regex: RegExp, text: string): Array<RegExpExecArray> {
    let results: Array<RegExpExecArray> = []
    let i = 0
    const original = text

    let res = regex.exec(text)
    while(res != null) {
        res.index += i
        res.input = original
        results.push(res)
        i = res.index + res[0].length
        res = regex.exec(text.substring(i))
    }

    return results
}


export default Vue.extend({
    props: {
        results: Array,
        query: String
    },
    methods: {
        highlight(text: string): Array<Span> {
            let spans: Array<Span> = []

            if(this.query_regex == null) {
                spans.push({
                    text
                })
                return spans
            }

            const matches = findAll(this.query_regex, text)

            let i = 0
            for(let match of matches) {
                // If there is some unhighlighted text
                if(match.index > i) {
                    spans.push({
                        text: text.substring(i, match.index)
                    })
                }
                spans.push({
                    text: match[0],
                    cls: 'search-highlight',
                    el: 'span'
                })
                i = match.index + match[0].length
            }
            // Add the leftover
            let leftover = text.substring(i)
            if(leftover != '') {
                spans.push({
                    text: leftover
                })
            }

            return spans
        },
        highlight_html(text: string) {
            let spans = _.map(this.highlight(text), (span: Span) => {
                if(span.cls != undefined) {
                    if(span.el == undefined) {
                        span.el = 'span'
                    }
                    return `<${span.el} class="${span.cls}">${span.text}</${span.el}>`
                }
                else if(span.el == undefined) {
                    return span.text
                }
                else{
                    return `<${span.el}>${span.text}</${span.el}>`
                } 
            })
            return _.join(spans, '')
        }
    },
    computed: {
        query_regex() {
            const pre_regex = /[\w"\s|]+/i
            const query_regex = /"((?:\w+\s*)+?)"|\w+/i

            // Remove special characters
            if(this.query == undefined) {
                console.error("Query is a required property!")
                return null
            }
            let cleaned = _.join(_.map(findAll(pre_regex, this.query), x => x[0]), '').toLowerCase()

            let queries = _.map(findAll(query_regex, cleaned), x => {
                if(x[1] != undefined) {
                    // split the words
                    let words = _.filter(x[1].split(' '), t => t != '')
                    // Join the words with the at least one space regex
                    var regex = _.join(words, '\\W+')
                }
                else {
                    var regex = x[0]
                }
                return `\\b${regex}\\b`
            })

            let regex = _.join(queries, '|')

            let re = new RegExp(regex, 'i')
            console.log(re)
            return re
        },
        /**
         * Grouped results by book, then chapter
         */
        books(): Array<Book> {
            let books: Array<Book> = []
            let book: string = null
            let chapters: Array<Chapter> = []
            let chapter: number = null
            let verses: Array<Verse> = []

            for(const v of this.results) {
                let verse = v as Result
                const diff_book = verse.book != book
                const diff_chap = verse.chapter != chapter

                // The chapter has changed
                if(diff_chap || diff_book) {
                    if(chapter != null) {
                        chapters.push({
                            chapter,
                            verses
                        })
                    }
                    chapter = verse.chapter
                    verses = []
                }

                // The book has changed
                if(diff_book) {
                    if(book != null) {
                        books.push({
                            book,
                            chapters
                        })
                    }
                    book = verse.book
                    chapters = []
                    chapter = verse.chapter
                }

                // Add the current verse
                verses.push({
                    verse: verse.verse,
                    text: verse.text
                })
            }

            // Add the last chapter/book
            if(verses.length > 0) {
                chapters.push({
                    chapter,
                    verses
                })
                books.push({
                    book,
                    chapters
                })
            }

            return books
        }
    }
})
</script>