<template>
    <form @submit="perform_search">
        <div class="form-group mb-0">
            <input type="search" class="form-control" placeholder="Search" name="q"
                v-model="search" @input="on_search_changed">
        </div>
        <div v-if="corrected" class="alert alert-warning mb-0 mt-2">
            Did you mean <a class="alert-link" href="#" @click="correct_word()">{{ corrected }}</a>?
        </div>
        <p v-if="results" class="mb-0 text-right text-muted"><small>
            {{ results }} results in {{ search_time }}
        </small></p>
    </form>
</template>
<script lang="ts">
import Vue from 'vue'
import moment from 'moment'

import {SearchOr} from './types'
import {getSearch} from './util'
import { replace } from 'lodash';

function encodeQueryData(data: {[key: string]: string}) {
    let ret = [];
    for (let d in data) {
        ret.push(`${encodeURIComponent(d)}=${encodeURIComponent(data[d])}`)
    }
    return ret.join('&')
}

export default Vue.extend({
    props: {
        time: Number,
        results: Number,
        corrected: String,
        corrected_orig: String
    },
    data() {
        return {
            search: '',
            search_timer: null
        }
    },
    methods: {
        perform_search() {

            window.history.pushState({
                search: this.search
            }, null, `/search?${encodeQueryData({q:this.search})}`)
            this.$emit('search', this.search)
        },
        on_search_changed(input: InputEvent) {
            if(this.search_timer != null) {
                clearTimeout(this.search_timer)
            }
            this.search_timer = setTimeout(this.perform_search, 500)
        },
        correct_word() {
            let regex_str = ""
            for(let i=0; i<this.corrected_orig.length; i++) {
                regex_str += this.corrected_orig.charAt(i) + '[^\\w\\s]?'
            }
            let regex = RegExp(regex_str, 'gi')
            let s = String(this.search)
            this.search = s.replace(regex, this.corrected)
            this.perform_search()
        }
    },
    computed: {
        search_time() {
            let duration = moment.duration(this.time, "seconds")
            if(duration.asSeconds() < 0.1) {
                return `${duration.milliseconds().toFixed(2)} milliseconds`
            }
            if(duration.asSeconds() < 59) {
                return `${duration.asSeconds().toFixed(2)} seconds`
            }
            return duration.humanize()
        }
    },
    beforeMount() {
        this.search = getSearch()
        if(Boolean(this.search)) {
            this.perform_search()
        }
        const self = this
        window.addEventListener('popstate', ev => {
            if(ev.state != null && ev.state.search != undefined) {
                self.search = ev.state.search
            } else {
                self.search = getSearch()
            }
            self.$emit('search', this.search)
        })
    }
})
</script>