{% set mode = mode or 'light' %}
{% set title = title or 'Bible Search' %}
{% set active = active or 'main' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ static('bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static('@fortawesome/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ static('style.css') }}">

        <link rel="icon" type="image/ico" href="{{ static('favicon.ico') }}">

        <title>{{ title }}</title>
    </head>
    <body class="bg-{{ mode }}">
        {% include "navbar.html.j2" %}
        <div class="container p-0">
            <div class="card" style="padding-top: 56px">
                {% block body %}
                <h1>Hello World!</h1>
                {% endblock %}
            </div>
        </div>

        <script src="{{ static('jquery/dist/jquery.slim.min.js') }}"></script>
        <script src="{{ static('bootstrap/dist/js/bootstrap.min.js') }}"></script>

        {% block scripts %}
        {% endblock %}
    </body>
</html>