<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    {% if active == 'main' %}
        <a class="navbar-brand" href="#">
            <i class="fas fa-bible"></i>
            Bible Search
        </a>
    {% else %}
        <a class="navbar-brand" href="{{ url('main') }}">
            <i class="fas fa-bible"></i>
            Bible Search
        </a>
    {% endif %}
    <button class="btn btn-outline-light d-lg-none d-display" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if active == 'main' %}
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('main') }}">Home</a>
            {% endif %}
            </li>
            {% if active == 'read' %}
            <li class="nav-item active">
                <a class="nav-link" href="#">Read <span class="sr-only">(current)</span></a>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('read') }}">Read</a>
            {% endif %}
            </li>
            {% if active == 'search' %}
            <li class="nav-item active">
                <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('search') }}">Search</a>
            {% endif %}
            </li>
        </ul>
        <form class="form-inline my-lg-0 my-2" action="{{ url('search') }}">
            <input class="form-control" type="search" placeholder="Search" aira-label="Search" name="q">
            <button class="btn btn-outline-light my-2 my-sm-0 ml-auto ml-sm-2" type="submit">Search</button>
        </form>
    </div>
</nav>
