{% extends "base.html.j2" -%}

{%- macro disabled(is_disabled) -%}
    {%- if is_disabled -%}
        disabled
    {%- endif -%}
{%- endmacro -%}

{%- macro classOf(is_disabled) -%}
    {%- if is_disabled -%}
        text-secondary
    {%- else -%}
        text-primary
    {%- endif -%}
{%- endmacro -%}

{%- macro select() -%}
    <form class="form-inline">
        <div class="form-group col-sm-auto mb-sm-0 mb-3">
            {{ form.book | add_class('custom-select') }}
        </div>
        <div class="form-group form-inline ml-auto">
            <button id="book-dec" type="button" class="btn {{ classOf(book_dec_disabled) }}" {{ disabled(book_dec_disabled) }}>
                <i class="fas fa-step-backward"></i>
            </button>
            <button id="chapter-dec" type="button" class="btn {{ classOf(chapter_dec_disabled) }}" {{ disabled(chapter_dec_disabled) }}>
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="form-sm-inline">
                {{ form.chapter | add_class('custom-select') }}
            </div>
            <button id="chapter-inc" type="button" class="btn {{ classOf(chapter_inc_disabled) }}" {{ disabled(chapter_inc_disabled) }}> 
                <i class="fas fa-chevron-right"></i>
            </button>
            <button id="book-inc" type="button" class="btn {{ classOf(book_inc_disabled) }}" {{ disabled(book_inc_disabled) }}>
                <i class="fas fa-step-forward"></i>
            </button>
        </div>
    </form>
{%- endmacro -%}

{%- block body %}
<div class="card-header">
    {{ select() }}
</div>
<div class="card-body">
    <ol>
        {% for verse in verses %}
        <li>
            {{ verse.text }}
        </li>
        {% endfor %}
    </ol>
</div>
<div class="card-footer">
    {{ select() }}
</div>
{% endblock body %}

{% block scripts %}
{% for s in script('read') %}
    <script src="{{ s }}"></script>
{% endfor %}
{% endblock scripts %}