{% extends "base.html.j2" %}

{% block body %}
<div id="search">
    <div class="card-header">
        <search @search="do_search" :time="time" :results="results" :corrected="corrected" :corrected_orig="corrected_orig" />
    </div>
    <results :results="result" :query="search" />
</div>
{% endblock body %}


{% block scripts %}
{% for s in script('search') %}
    <script src="{{ s }}"></script>
{% endfor %}
{% endblock scripts %}